<div class="body">
  <p class="container mt-2">Search Here: <input type="text" class="form-control mt-2" placeholder="search"
      [(ngModel)]="query" style="width: 50%; "></p>
  <br>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="sort('userId')">{{keys0}}</th>
          <th (click)="sort('id')">{{keys1}}</th>
          <th (click)="sort('title')">{{keys2}}</th>
          <th (click)="sort('completed')">{{keys3}}</th>
        </tr>
      </thead>
      <tbody *ngIf="apiResponse">
        <tr *ngFor="let response of apiResponse?.slice(startIndex,endIndex )  | filter: query ">
          <th scope="row">{{response.userId}}</th>
          <td>{{response.id}}</td>
          <td>{{response.title}}</td>
          <td>{{response.completed}}</td>
        </tr>
      </tbody>

    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let item of getArrayFromNumber(apiResponse?.length); let in = index"><a
            (click)="updateIndex(in)" class="page-link">{{in+1}}</a></li>
        <li class="page-item">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>